<body>

    <form action="/new_user" method="post" class="form-example">
        <label>
            Name:
        </label>
        <input name="name" id="name" type="text" placeholder="Name please"><br>
        <label>
            Age:
        </label>
        <input name="age" id="age" type="int" placeholder="Age please"><br>
        <input type="submit" value="Submit">
    </form>

</body>